.tabs-list__tab {
    margin-right: 1rem;
    border-bottom: 0.2rem solid gray;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
		list-style: none;

    &[aria-selected='true'] {
        border-color: blue;
        color: black;
    }

    &[aria-selected='false'] {
        outline: none;
    }

    .tab__title {
        color: gray;
        font-size: 1.2rem;
    }
}
